<!DOCTYPE html>
<html>
	<head>
		<!-- <title>登入</title> -->
		<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--===============================================================================================-->	
			<link rel="icon" type="image/png" href="/stylesheets/images/atoms-science-svgrepo-com.svg"/>
			<!-- <link rel="icon" type="image/png" href="/stylesheets/images/icons/favicon.ico"/> -->
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animate/animate.css">
		<!--===============================================================================================-->	
			<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/select2/select2.min.css">
		<!--===============================================================================================-->	
			<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/daterangepicker/daterangepicker.css">
		<!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="/stylesheets/css/util.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
		<!--===============================================================================================-->

		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/member.js"></script>
		
		<!-- <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' /> -->
    	<!-- <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.js"></script> -->

		<style type="text/css">
			.tip{color: #f00;}
		</style>
	</head>
	<body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">		
						<span class="login100-form-title p-b-32">
							使用者登入
						</span>
							
						<span class="txt1 p-b-11">
							<% if(errmsg){ %>
							<p class="tip">*<%= errmsg %></p>
							<% } %>
							帳號
	
						</span>
						<div class="wrap-input100 validate-input m-b-36" data-validate = "請填入正確帳號">
							<input class="input100" type="text" name="member_account" id="member_account" >
							<span class="focus-input100"></span>
						</div>
						
						<span class="txt1 p-b-11">
							密碼
						</span>
						<div class="wrap-input100 validate-input m-b-12" data-validate = "請填入正確密碼">
							<span class="btn-show-pass">
								<i class="fa fa-eye"></i>
							</span>
							<input class="input100" type="password" name="member_password" id="member_password">
							<span class="focus-input100"></span>
						</div>
						
						<div class="flex-sb-m w-full p-b-48">
						</div>
	
						<div class="container-login100-form-btn">
							<button id="login" class="login100-form-btn">
								登入
							</button>
						</div>
					
				<p><a href="/" rel="external nofollow" rel="external nofollow" rel="external nofollow" >回到首頁</a>   |   還沒帳號？<a href="/member/reg" rel="external nofollow" >點選註冊</a></p>
			</div>
		</div>
	</div>
		
	
	<div id="dropDownSelect1"></div>


	<!-- <div class="container">
		<p><a href="/" rel="external nofollow" rel="external nofollow" rel="external nofollow" >回到首頁</a></p>
		<h1>登入</h1>
			<% if(errmsg){ %>
			<p class="tip">*<%= errmsg %></p>
			<% } %>

			<div id="loginRoot"></div>
			<button id="login">登入</button>


		<p>還沒帳號？<a href="/member/reg" rel="external nofollow" >點選註冊</a></p>
	</div> -->

	<!--===============================================================================================-->
	<script src="/stylesheets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
		<script src="/stylesheets/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
		<script src="/stylesheets/vendor/bootstrap/js/popper.js"></script>
		<script src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
		<script src="/stylesheets/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
		<script src="/stylesheets/vendor/daterangepicker/moment.min.js"></script>
		<script src="/stylesheets/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
		<script src="/stylesheets/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
		<script src="/stylesheets/js/main.js"></script>

	</body>
</html>