<!DOCTYPE html>
<html>
	<head>
		<title>使用者註冊</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/member.js"></script>
	
		<style type="text/css">
			.tip{color: #f00;}
		</style>
	</head>
	<body>
	<div class="container">
		<p><a href="/">回到首頁</a></p>
		<h1>註冊</h1>

			<% if(errmsg){ %>
  			<p class="tip">*<%= errmsg %></p>
  			<% } %>
			
			<div id="regRoot"></div>
			<!-- <p>用  戶  名： <input type="text" name="username" required="required"></p>
			<p>密  碼： <input type="password" name="password" required="required"></p>
			<p>重複密碼： <input type="password" name="password2" required="required"></p> -->
			<button id="register">註冊</button>

		<p>已有帳號？ <a href="/member/login" rel="external nofollow" >點選登入</a></p>
	</div>
	</body>
</html>