<!-- <script src="https://visjs.github.io/vis-network/dist/vis-network.min.js"></script> -->
<!-- <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->

<script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
<link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" />


<div class="row" id="vis-network" style="margin-top: 53px; padding-left: 20px;">
    <div id="mynetwork"></div>
    <!-- 左側工具欄 -->
    <div class="tools text-center">
        <h5>新增</h5>   
        <a href="#addIdea" class="tool" id="ideaTool" data-toggle="modal">
            <img src="/stylesheets/images/icons/idea(line).svg" alt="想法">
            <div class="tool-text">想法</div>
        </a>
        <a href="#addVote" class="tool" id="voteTool" data-toggle="modal">
            <img src="/stylesheets/images/icons/archive.svg" alt="投票">
            <div class="tool-text">投票</div>
        </a>
    </div>

</div>


<script type="text/javascript" src="/javascripts/projectDiscussion.js"></script>
<script>

</script>