<!-- <script src="https://visjs.github.io/vis-network/dist/vis-network.min.js"></script> -->
<!-- <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->

<script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
<link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" />


<div class="row" id="vis-network" style="margin-top: 53px; padding-left: 20px;">
    <div id="mynetwork"></div>
</div>


<script type="text/javascript" src="/javascripts/projectDiscussion.js"></script>
<script>

</script>