<!-- <script src="https://visjs.github.io/vis-network/dist/vis-network.min.js"></script> -->
<!-- <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <script type="text/javascript" src="/stylesheets/tagsinput/tagsinput.js"></script>
<script type="text/javascript" src="/stylesheets/tagsinput/bloodhound.js"></script>
<link rel='stylesheet' href='/stylesheets/tagsinput/tagsinput.css' /> -->

<!-- vis.js -->
<script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
<!-- <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->

<div class="col choose-stage">
  <div class="row justify-content-center">
    <!-- 左邊的階段切換選單 -->


    <div id="left_nav" class="list-group  text-center position-fixed2">

      <!-- <div  class="stage-switch-box position-fixed"> -->
          <div class="btn-group stage-switch-btn" role="group" aria-label="Basic example">
            <button type="button" style="font-size: 16px;" class="btn btn-sm btn-outline-success" id="option1">內容撰寫</button>
            <button type="button" style="font-size: 16px;" class="btn btn-sm btn-success" id="option2">想法討論</button>
          </div>
      <!-- </div> -->

      <a class="changet2 nav-link" href="/project/<%= gid %>/想法討論/發散">想法發散</a>
      <a class="changet2 nav-link nowStage" href="#">想法收斂</a>

    </div>

  </div>
  
</div>


<div class="col discussionCol">
    <!-- <div class="row" style="margin-top: 53px;"> -->
    <!-- <div class="col"> -->
        <!-- 選擇要收斂的標籤 <input class="form-control" type="text" name="tags" id="tags"> -->
    <div class="margin-bottom10  row" style="margin-top: 53px;">
        <label class="col-sm-2 text-center">選擇要收斂的標籤：</label>
        <select class="col-sm-9 custom-select" name="tags" id="tags">
          <option value="研究題目與動機">研究題目與動機</option>
          <option value="研究問題">研究問題</option>
          <option value="實驗項目">實驗項目</option>
          <option value="研究設備及器材">研究設備及器材</option>
          <option value="實驗記錄">實驗記錄</option>
          <option value="研究結果(分析及圖表)">研究結果(分析及圖表)</option>
          <option value="研究討論">研究討論</option>
          <option value="結論">結論</option>
        </select>
        <div class="col-sm-1">
          <button id="changeConvergenceTag" style="margin-right: 15px;" class="btn btn-sm btn-primary float-right changeConvergenceTag">確定</button>
        </div>
        
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <div class="row">
        <div class="col-4">
            <div class="card ideaList" style="min-height:82vh;">
              <h6 class="card-header nodeList" style="background-color: #F1D4BB; color: black;"><i class="fas fa-lightbulb pr-1" aria-hidden="true"></i>想法列表</h6>
              <div class="card-body scroll ideaListBody" style="padding: 0">
                  
                <!-- <div class="card ideaListAll">
                  <p class="card-header">
                    <a class="d-block collapsed" data-toggle="collapse" href="#test" aria-controls="test" role="button" aria-expanded="false">
                      <b>123</b>
                      <i class="fa fa-chevron-down float-right chevron"></i>
                    </a>
                  </p>

                  <div id="test" class="collapse">
                    <div class="card-body">123</div>
                    <div class="card-footer text-right">
                        <small class="text-muted pr-2">建立者： 王小明</small>
                        <button type="button" class="btn btn-primary btn-sm quoteNote">引用至個人筆記</button>
                    </div>
                  </div>

                </div>

                <div class="card ideaListAll">
                  <p class="card-header">
                    <a class="d-block collapsed" data-toggle="collapse" href="#test2" aria-controls="test" role="button" aria-expanded="false">
                      <b>1234</b>
                      <i class="fa fa-chevron-down float-right chevron"></i>
                    </a>
                  </p>

                  <div id="test2" class="collapse">
                    <div class="card-body">1234</div>
                    <div class="card-footer text-right">
                        <small class="text-muted pr-2">建立者： 王小明</small>
                        <button type="button" class="btn btn-primary btn-sm quoteNote">引用至個人筆記</button>
                    </div>
                  </div>

                </div> -->
                
              </div>
            </div>
  
        </div>

        <div class="col" style="padding-left: 0;">
            <div class="card" style="min-height:82vh;">
              <h6 class="card-header convergenceTitle" style="background-color: #ECBF96; color: black;"><i class="fas fa-clipboard pr-1" aria-hidden="true"></i>收斂空間</h6>
              <div class="card-body convergenceBox" style="flex: 0;">
                <textarea id="convergence-summernote" class="form-control create-summernote" value=""></textarea>
                <div class="btn-save-box margin-bottom10 mt-2">
                  <button id="saveIdeaConvergence" class="btn btn-sm btn-save">儲存</button>
                  <button id="saveIdeaConvergenceNode" class="btn btn-sm btn-primary">產生收斂結果</button>
                </div>
              </div>
              
              <!-- <div class="card"></div> -->
              <div style="padding: 0 15px;"><hr></div>
              <!-- <div class="card-body scroll"> -->
                <!-- 討論留言：<input class="form-control" type="text" name="message" id="message"> -->
              <div class="col convergenceBox">
                <div class="margin-bottom10 form-group row">
                    <label class="col-sm-2 text-center">討論留言：</label>
                    <input class="col-sm-9 form-control" type="text" name="message" id="message">
                    <div class="col-sm-1"><button id="saveMessage" class="btn btn-sm btn-primary float-right">送出</button></div>
                </div>
                <div class="row">
                  <div class="col">
                    <table id="messageTable" class="table" data-sort-order="desc" data-sort-name="message_createtime"></table>
                  </div>
                  
                </div>
              </div>
                

                
                
              </div>
            <!-- </div> -->
  
        </div>
    </div>

    <!-- 確認是否生成收斂結果節點 -->
    <div class="modal fade" id="checkAddConvergenceNode" tabindex="-1" role="dialog" aria-labelledby="checkAddConvergenceNodeLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body"><h5>確定此標籤收斂已完成?</h5></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="checkAddConvergenceNode_btn">確定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 確認是否生成收斂結果節點 -->


    <input type='hidden' id="tagNow" value="">
    <input type='hidden' id="convergence_id" value="">

</div>




<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/convergence.js"></script>
<!-- <script type="text/javascript" src="/javascripts/projectDiscussion.js"></script> -->
