body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family:微軟正黑體,MicrosoftYaHei,Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;}

#main-banner {
  height: 30vh;  
  /* vh是view height，指螢幕可視範圍高度的百分比 */
}

.groups-table{
  background-color: #EEEBE5;
}
  
.groups-container{
  padding-top: 20px;
}

/* 組別管理頁面groups.ejs的banner區塊文字 */
.banner-text-content {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 15%;
  left: 15%;
  text-align: center;
}

#cneter-content {
  /* padding-top: 50px; */
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 86px;
  margin-bottom: 10px;
}

.text-center{
  text-align:center;
  /* border-color: #31625C; */
}

.choose-stage {
  padding-top: 50px;
}

.chapter-title-box {
  height: 35px;
}

.chapter-title-text {
  text-align: center;
  margin-top: 0.3rem;
}

.stage-switch-btn {
  margin-bottom: 5px;
  margin-top: 5px;
}

.stage-btn {
  margin-top: 10px;
  border-color: #31625C;
  border-width: 2px;
}

.content-margin {
  margin: 15px;
}

.label-title{
  float: left;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.btn-save{
  background-color: #31623C;
  color: #FFFFFF;
  /* float: right; */
}

.btn-save-box{
  float: right;
}

.margin10 {
  margin-top: 10px;
  margin-left: 15px;
}

.margin-right10 {
  margin-right: 10px;
}

.position-fixed{
  position: fixed;
  z-index: 1030;
}

.position-fixed2{
  position: fixed;
  z-index: 1040;
}


.margin-left10{
  margin-left: 10px;
}

.height30{
  height: 30px;
}

.stage-switch-box {
  height: 50px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  text-align:center;
}
