body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family:微軟正黑體,MicrosoftYaHei,Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;}

body { position: relative; }
/* table {width: 100%;} */

canvas:focus {
  outline: none;
}

#main-banner {
  height: 30vh;  
  /* vh是view height，指螢幕可視範圍高度的百分比 */
}

.groups-table{
  background-color: #EEEBE5;
}
  
.groups-container{
  padding-top: 20px;
}

/* 組別管理頁面groups.ejs的banner區塊文字 */
.banner-text-content {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 15%;
  left: 15%;
  text-align: center;
}

#cneter-content {
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-top: 86px; */
  margin-bottom: 10px;
}

.text-center{
  text-align:center;
  /* border-color: #31625C; */
}

.choose-stage {
  padding-top: 46px;
  flex: 0 0 11%;
  max-width: 11%;
}

.chapter-title-box {
  height: 35px;
}

.chapter-title-text {
  text-align: center;
  margin-top: 0.3rem;
}

.stage-switch-btn {
  margin-bottom: 5px;
  margin-top: 5px;
  /* margin-right: 50px; */
}

.stage-btn {
  margin-top: 10px;
  border-color: #31625C;
  border-width: 2px;
}

.content-margin {
  margin: 15px;
}

.label-title{
  float: left;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.btn-save{
  background-color: #31623C;
  color: #FFFFFF;
  /* float: right; */
}

.btn-save-box{
  float: right;
}

.margin10 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.margin-right10 {
  margin-right: 10px;
}

.position-fixed{
  position: fixed;
  z-index: 1030;
}

.position-fixed2{
  position: fixed;
  z-index: 1040;
}


.margin-left10{
  margin-left: 10px;
}

.height30{
  height: 30px;
}

.stage-switch-box {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* text-align:center; */
  padding-left:40%;
}

#writing_content {
  position: relative;
}

.purpose-content{
  width: 100%;
  min-height: 130px;
  border: none;
  resize: none;
  /* background-color: #EEEBE5; */
}

.purpose-content:disabled {
  color: -internal-light-dark-color(rgb(255, 255, 255), rgb(255, 255, 255));
  background-color: white;
}

.border-color-gray {
  border-color: rgb(0, 0, 0);
}

.nav-item.active.active-navbar {
  background-color:  rgb(106, 250, 161);
}

#mynetwork {
  width: 100%;
  height: 88vh;
  border: 0px solid lightgray;
}

.tools {
  /* padding: 5px; */
  width: auto;
  height: 88vh;
  position: fixed;
  z-index: 1;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  background-color: rgb(240, 225, 211);
  cursor: pointer;
}

.tool{
  padding: 5px 2px;
  display: block;
  text-align: center;
  text-decoration: none;
  /* height: 4vw; */
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
  cursor: pointer;
}

a.tool {
  text-decoration: none;
  color: #333;
  /* margin-bottom: 10px; */

}

a.tool:hover {

  background-color: antiquewhite;
}

.tools >h6 {
  color: #333;
  font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #31625C;
}

/* a.changet{
  color: #31625C;
  border-color: #31625C;
  border-width: 2px;

} */
.changet{
  padding: 5px 15px;
  /* color: #fff;
  background-color:#31625C; */
  color: black;
  border-color: #31625C;
  border-radius: 5px;
}

.changet2{
  padding: 5px 15px;
  /* color: #fff;
  background-color:#31625C; */
  color: black;
  border-color: #31625C;
  border-radius: 5px;
}

.changet:hover{
  padding: 5px 15px;
  color: black;
  border-color: #31625C;
  border-radius: 5px;
  /* background-color:#31625C; */
  text-decoration: none;
}

.changet2:hover{
  padding: 5px 15px;
  color: black;
  border-color: #31625C;
  border-radius: 5px;
  /* background-color:#31625C; */
  text-decoration: none;
}

/* .topList{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bottomList{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
} */

.nowStage{
  color: #fff;
  background-color: #31625C;
}

.border-color-green{
  border-color: #31625C;
}

.border-color-green:hover{
  background-color: #31625C;
  color: #fff;
}

.nodeEditor{
  margin-right: 10px;
}

#vis-network{
  overflow: hidden;
  margin: 53px 0 0 0;
  /* outline: none; */
}

#mynetwork .vis-network{
  /* overflow: hidden;
  margin: 53px 0 0 0; */
  outline: none;
}

.discussionCol{
  padding: 0 15px 15px 15px ;
  /* margin-left: 15px; */
}

.showTag{
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  background-color: #19BC9C;
  padding: 0.35em 0.5em;
}

.tableFontSize {
  font-size: 16px;
}

.tool-text {
  font-size: 12px;
}

#stageIntroduction {
    /* width: 60px;
    height: 60px;
    line-height: 20px;
    border: 1px dashed red;
    border-radius: 60px; */
    background-color: #31625C;
    border-color: #31625C;
    color: white;
    margin-left: 80%;
}

.upload-file:hover {
    color: white;
    border-color: #6c757d;
    background-color: #a8aaac;
}

.ideaList {
  border: none;
}

.ideaListAll .card-header{
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: rgba(221, 220, 220, 0.5);
  margin-bottom: 0;
  padding: 0.5rem 1.25rem;
  
}

.ideaListAll{
  border: none;
}

.ideaListAll .card-header a{
  color: black;
  text-decoration: none;
}

.card-header .collapsed .fa.chevron {
  transform: rotate(90deg);
}

.card-header .fa.chevron {
  transition: .3s transform ease-in-out;
}

.ideaListAll .card-footer{
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 0.5rem 1.25rem;
}

.scroll {
  max-height: 82vh;
  overflow-y: auto;
}


/* #nodeFiles{
  margin-top: 8px;
} */
/* checkbox選項item */
/* .item{
  display: block;
  margin-bottom: 5px;
}

.item .item-checkbox{
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.item label{
  position: relative;
  cursor: pointer;
}

.item label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.item .item-checkbox:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */


